*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: system-ui;
}

body {
  font-size: 1.25rem;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.page-title {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

button {
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
}

.mask-container {
  position: relative;
  height: 512px;
  width: 512px;
}
img {
  height: 512px;
  width: 512px;
  object-fit: cover;
  opacity: 0;
}

.color-image {
  position: absolute;
  inset: 0;
  background-image: url("https://res.cloudinary.com/dvett6v2h/image/upload/v1747687809/flhhg5d95kx9qky3oepq.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;

  -webkit-mask-image: url("https://res.cloudinary.com/dvett6v2h/image/upload/v1747497389/kley7psrkticm2u9jnaw.png");
  -webkit-mask-size: 3700% 0%; 
  -webkit-mask-position: 0% 0%;
  mask-image: url("https://res.cloudinary.com/dvett6v2h/image/upload/v1747497389/kley7psrkticm2u9jnaw.png");
  mask-size: 3700% 100%; 
  mask-position: 0% 0%; 

}

.mask-animation {
  animation: addColor 2700ms steps(24) forwards;
}

@keyframes addColor {
  0% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
  100% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
}
