*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: system-ui;
}

body {
  font-size: 1.25rem;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.page-title {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

button {
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
}

.mask-container {
  position: relative;
  height: 512px;
  width: 512px;
}
img {
  height: 512px;
  width: 512px;
  object-fit: cover;
}

.color-image {
  position: absolute;
  inset: 0;
  background-image: url("https://res.cloudinary.com/dvett6v2h/image/upload/v1747491822/uo3juo93k3jtgqyfe73a.png");
  background-size: cover; /* Changed from contain to cover */
  background-repeat: no-repeat;
  background-position: center;

  -webkit-mask-image: url("https://res.cloudinary.com/dvett6v2h/image/upload/v1747497389/kley7psrkticm2u9jnaw.png");
  -webkit-mask-size: 2500% 0%; /* Corrected for 25 horizontal frames */
  -webkit-mask-position: 0% 0%; /* Corrected initial position */
  mask-image: url("https://res.cloudinary.com/dvett6v2h/image/upload/v1747497389/kley7psrkticm2u9jnaw.png");
  mask-size: 2500% 100%; /* Corrected for 25 horizontal frames */
  mask-position: 0% 0%; /* Corrected initial position */
  /* 
  transition: 
    -webkit-mask-position ; */
}

.mask-animation {
  animation: addColor 1700ms steps(24) forwards;
}

@keyframes addColor {
  0% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
  100% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
}
